nav > div {
    max-width: 992px;
}

.text {
    overflow: hidden;
    max-height: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
 }

 .text-truncate-max-height {
    overflow: hidden;
    max-height: 4.5em; /* Adjust this value to set the desired max height */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}